@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tiny5', 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #EFF1E3, #CBCDBC);
}

.contenedor-login {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: linear-gradient(to bottom, #F2F5E2, #C9CFC4);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contenedor-header {
    text-align: center;
    margin: 20px 0 40px 0;
    font-size: 20px;
    font-weight: 600;
}

.ladoizquierdo {
    color: #333;
    height: 300px;
    width: 180px;
    float : left;
 }

.ladoizquierdo .img-email {
    width: 100px;
    height: 20px;
    margin: 0 auto;
    margin-top: 5px;
}

.ladoizquierdo .img-password {
    width: 100px;
    height: 10px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 22px;
}

.ladoderecho {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los campos de entrada */
}

.input-entrada {
    width: 80%;
    padding: 14px;
    border: 1px solid #333;
    border-radius: 30px;
    outline: none;
    margin-bottom: 15px;
}